body {
    background-color: rgb(238, 127, 127);
}

#main {
    width: 100%;
    border-style: inset;
    background-color: rgb(243, 145, 145);
    padding: 1%;
}

#main p {
    text-align: center;
}




#rave-header{
    text-align: center;
    font-size:150%;
}
#rave{
    height: 500px;
    width:95%;
}
@media only screen {
    #rave {
      animation: rave 10s infinite;
    }

    @keyframes rave {
        0%   {background-color:rgb(235, 34, 34);}
        25%  {background-color:rgb(222, 235, 34);}
        50%  {background-color:rgb(34, 235, 84);}
        75%  {background-color:rgb(34, 71, 235);}
        100% {background-color:rgb(235, 34, 185);}
      }
}
